// layout.pug
doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='/css/styles.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Sacramento&display=swap')
    link(href="https://www.freepik.es/autor/user15250948/iconos/generic-others_1663#from_element=resource_detail")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Poiret+One&display=swap")
  body
    nav
      ul
        li 
          img(id= "icon1" src="https://img.icons8.com/external-flatart-icons-lineal-color-flatarticons/64/external-makeup-morning-routine-flatart-icons-lineal-color-flatarticons.png" alt="external-makeup-morning-routine-flatart-icons-lineal-color-flatarticons")
        li 
          a(href='/') Inicio
        li
          a(href='/catalogo') Catálogo de Productos
        li
          a(href='/carrito') Carrito de Compra (#{carrito.length})
        li 
          a(href='/iniciar-sesion') Iniciar sesión

    .container
      block content
